@import "vars";
@import "mixins";
@import "navbar";

@include font-face(Lato, '../fonts/Lato/Lato-Regular', normal, $asset-pipeline: false );

body {
  font-family: 'Lato', serif;
}

.form-group {
  display: flex;
}

.nav-item {
  padding: 10px 10px;
}

.passwordErrorMsg {
  color: $errorMsg;
}